@require 'normalize'

$green = #5ca941
$red = #bf052b
$width = 340px
$mobileWidth = 275px

body, html
  height 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color #f9f9f9
  font-family Arial, Helvetica, sans-serif
  min-height 380px
  min-width 320px

h1
  font-size 24px
  font-weight 300
  letter-spacing -0.5px

a
  cursor pointer
  color $green
  text-decoration none
  &:hover
    text-decoration underline

header
  height 40%
  display flex
  flex-direction column
  justify-content center
  align-items center
  .logo
    padding 1em
    margin-top 10px

#content
  height 100%
  display flex
  justify-content flex-start
  align-items center
  flex-direction column

.form-container
  display flex
  align-items center
  justify-content center

.form
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 1em
  width $width
  border-color #b0b0b0
  border-style solid
  border-width 1px
  border-radius 3px
  background-color #ffffff

.register
  text-align center
  margin-top 10px
  padding 1em
  width $width
  border-color #b0b0b0
  border-style solid
  border-width 1px
  border-radius 3px
  background-color #ffffff

.form-item
  box-sizing border-box
  border-radius 3px
  width ($width - 40)
  display block
  height 25px
  border 1px solid #d5d5d5
  text-indent 5px;
  &:focus
    border-color: #51a7e8;
    outline: none;

.form-item-margin
  margin-bottom 5px

.form-label
  display inline-block
  font-size smaller
  border none
  margin-bottom 5px

.form-button
  background-image linear-gradient(#8add6d, #60b044)
  border-color $green
  cursor pointer
  color #ffffff
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.15)

.validation-error
  font-size 80%
  color $red
  margin-bottom 5px

.bad-form-item
  border-color: $red

footer
  height 20%
  display flex
  justify-content center
  align-items center
  .copyright
    padding 1em

@media screen and (max-width 600px)
  .form, .register
    width $mobileWidth

  .form-item
    width ($mobileWidth - 20)
